/* ------------------------ BLOCO DO PRIMEIRO TITULO DA PAGINA ----------------------- */
.TituloChat{  
    min-height: 20vh;
    max-height: 40vh;
    min-height: 10vh;
    max-height: 20vh;
    min-width: none;
    max-width: max-content;
    margin: auto;
    margin-top: 14vh;
    position: relative;
    text-shadow:
    -6px 3px 40px #f2994a,
    1px -1px 40px #f2994a,
   -1px  1px 40px #f2994a,
    1px  1px 90px #f2994a;   
}

#titleP{ /* TEXTO DO TITULO */
    font-size: xx-large;
    font-weight: 900;
}

#titleP2{ /* TEXTO DO SUBTITULO */
    font-size: larger;
    font-weight: 600;
}

/* --------------------------------- CHATBOT -------------------------------- */

#robochat{ /* IMAGEM FUNDO DO CHAT */
    margin-top: 8vh;
    margin-bottom: 17vh;
    z-index: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
#robochatlamp{ /* IMAGEM FUNDO DO CHAT */
    margin-top: -39vh;
    margin-bottom: 17vh;
    z-index: 0;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.TextoChat{ /* BLOCO DO INFO-CHATBOT */
    background-color: transparent;
    height: 65vh;
    display: flex;   
    justify-content: center; 
    align-items: center;
    transition: all 0.8s ease-in;

}

body.dark-mode .TextoChat{ /* PARA AFETAR A LINHA NO DARKMODE */
    background-color: transparent;
    transition: all 0.8s ease-in;
}

.sobreChat{ /* TEXTO DO QUADRADO INFO */
    width: 60vw;
    height: 35vh;
    padding: 30px;
    border-radius: 20px;
    background-color: #FFCA34;
    color: white;
    text-align: center;
    transition: all 0.8s ease-in;

}
body.dark-mode .sobreChat{ /* PARA AFETAR O BLOCO DENTRO DA LINHA NO DARKMODE */
    background-color: #FFCA34;
    color: white;
    transition: all 0.8s ease-in;
}

#titleChat{ /* AFETAR O TITULO DO BLOCO */
    font-weight: bolder;
    margin-top: 2vh;
}

#textChat{ /* AFETAR O TEXTO DO BLOCO */
    margin: auto;
    font-size: larger;
    font-weight: 650;
    margin-top: 3vh;
    width: 48vw;
}
