/* Estilos gerais do formulário */
form {
  display: flex;
  flex-direction: column; /* Mantém a disposição em coluna */
  padding: 0 10%;
  box-sizing: border-box;
  height: 100%; /* Ajusta a altura conforme necessário */
  background-color: #FFCDCD; /* Cor de fundo do formulário */
}

/* Cabeçalho */
.TitSite1 {
  font-size: 2.5vw; /* Tamanho da fonte */
  color: #333333;
  margin: 3.3vh 3%; /* Margens do cabeçalho */
  display: flex;
  align-items: center;
}

/* Subtítulo */
.CrieSuaConta1 {
  font-size: 3vw; /* Ajuste o tamanho da fonte conforme necessário */
  color: #333; /* Cor desejada */
  margin-right: 61%;
}

/* Instrução de perfil */
.perfis {
  font-size: 1.5vw; /* Tamanho da fonte */
  margin-right: 61%;
}

/* Cabeçalhos de entrada */
.Informações1 {
  max-width: 20vw; /* Largura máxima */
  text-align: left; /* Alinhamento do texto */
  font-size: 1.5vw; /* Tamanho da fonte */
  margin: 3vh 0; /* Margens */
  color: black; /* Cor do texto */
}

/* Ícones e Imagens */
.bee-icon1 {
  display: flex;
  align-items: center;
  max-width: 3vw;
  height: auto;
  margin: -18vh -17%; /* Ajuste conforme necessário */
}

/* Imagem principal */
#foto1 {
  position: absolute;
  top: 20%;
  right: 12%;
  transform: translate(0, 30%);
  width: 30vw;
  height: auto;
}

/* Grupo de Botões */

/* Estilização do grupo de cards */
.button-group {
  display: flex; /* Usar flexbox para alinhar os botões */
  gap: 0; /* Remove o espaço entre os botões */
  width: 20vw;
  margin-left: 7%;
}

.btn1 {
  padding: 5px; 
  border-radius: 10px; 
  border: 2px solid black; 
  color: #000000; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  text-align: center;
  height: 7vh;
  width: 9vw;
  margin-top: -2%;
}

.btn2 {
  padding: 5px; 
  border-radius: 10px; 
  border: 2px solid black; 
  color: #000000; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  text-align: center;
  height: 7vh;
  width: 9vw;
  margin-top: -2%;
}

/* Caixas de Entrada */
.input-boxCr {
  position: relative;
  width: 40%;
  height: 6vh;
  background-color: #FFB09F;
  border-radius: 5px;
  margin: 1vh 0;
  box-sizing: border-box;
}

.input-boxCr input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 1.5vh 4%;
  font-size: 1.2vw;
}

/* Botões */
.CriarConta {
  width: 40%;
  height: 5vh;
  font-size: 1.5vw;
  color: #ffff;
  background: #6C21B7;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  margin: 3vh 0;
}

.Login2 {
  position: absolute; /* Define a posição como absoluta para posicionamento personalizado */
  top: 3vh;
  right: 5%; /* Define a posição à direita como 5% da largura da janela de visualização */
  width: 13%; /* Define a largura como 13% da largura do contêiner pai */
  height: 6vh; /* Define a altura como 6% da altura da janela de visualização */
  font-size: 1.5vw; /* Define o tamanho da fonte */
  color: #ffff; /* Define a cor do texto */
  background: #6C21B7; /* Define a cor de fundo */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  font-weight: 700; /* Define o peso da fonte como negrito */
}

/* Links de Registro */
.register-link {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
}

/* Margens para inputs dentro de labels */
label input {
  margin-right: 4px;
}
