p {
  font-size: 19px;;
}
.container {
  display: flex;
  flex-direction: column;
  height: auto; /* Removido a altura fixa */
}

.home-content {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.section-content {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  align-items: flex-start; /* Alterado para flex-start para alinhar o conteúdo ao topo */
}

.text-content {
  flex: 1; /* Permite que o espaço seja ocupado de forma flexível */
  margin: auto; /* Centraliza a div */
  text-align: justify;
}

.text-content h3,
.text-content p {
  margin-bottom: 10px;
}

.image-content {
  flex: 1;
  max-width: 50%; /* Alterado para 50% para permitir que a imagem ocupe mais espaço */
}

.image-content img {
  width: 100%; /* A imagem ocupa 100% da largura do container */
  height: auto; /* Mantém a proporção da imagem */
}

@media (max-width: 768px) {
  .section-content {
    flex-direction: column; /* Altera para coluna em telas menores */
    text-align: center;
  }

  .text-content {
    max-width: 100%; /* Texto ocupa 100% da largura em telas menores */
  }

  .image-content {
    max-width: 100%; /* Imagem ocupa 100% da largura em telas menores */
    margin-top: 20px;
  }

  .image-content img {
    max-width: 100%; /* A imagem ocupa 100% da largura do container em telas menores */
  }
}
