/* Estilo para a seção do Banner */
.Banner {
    background-image: linear-gradient(to bottom, transparent 60%, #FF2B00 60%, #FF8800 100%);
    max-width: 110vw; 
    min-height: 60vh; 
    max-height: 100vh; 
}

/* Classe para a seção de Vantagens */
.Vantagens {
    margin-top: 10vh; 
}

/* Classe para as Bandeiras */
.Bandeiras {
    margin-top: 20vh; 
}

/* Estilo para imagens */
#garoto2 {
    width: 400px; 
    display: flex;
    margin-left: 15%; 
    margin-top: -28%;
}

#como {
    width: 500px; 
    margin-right: -35%; 
    margin-top: -29%;
}

#ban1 {
    width: 1300px; 
}

#menina1 {
    height: 70vh; 
    margin-bottom: -30px; 
    border-radius: 30px; 
    display: flex; 
    margin-right: 0.1vw; 
}

/* Estilo para o texto */
.text3 {
    font-size: x-large; 
    margin: auto; 
    width: 90%; 
    text-align: center; 
    text-shadow:
   -1px  1px 60px #f2994a,
    1px  1px 60px #f2994a;   
    margin-top: 5%; 
}

/* Estilo para a seção de Recompensa */
.Recompensa {
    display: flex; 
    margin: 0 5% 10%; 
    justify-content: space-between; 
}

/* Estilo para o texto dentro da classe 'text4' */
.text4 {
    width: 40vw; 
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left; 
    margin-top: 10%; 
}

/* Estilo para o texto com a classe 'texto' */
.texto {
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
    width: 50vw; 
    font-size: 0.875rem; 
}

/* Estilo para o elemento com a classe 'Check' */
.Check {
    background-color: transparent; 
}
