.vantagem {
    margin-top: 10vh; /* Espaço acima da seção */
    max-width: 110%;
}

/* Estilo para a seção do Banner */
.Banner {
    background-image: linear-gradient(to bottom, transparent 60%, #FF2B00 60%, #FF8800 100%);
    max-width: 110vw; /* A largura do Banner ocupa toda a tela */
    min-height: 10vh; /* A altura mínima do Banner é de 20% da altura da janela */
}

/* Classe para a seção de Vantagens */
.Vantagens {
    margin-top: 10vh; /* Adiciona espaço acima da seção de Vantagens */
}

/* Classe para as Bandeiras */
.Bandeiras {
    margin-top: 20vh; /* Adiciona espaço acima da seção de Bandeiras */
}

/* Estilo do Banner com altura máxima e um novo gradiente */
.Banner {
    min-height: 60vh; /* Altura mínima do Banner é 60% da altura da janela */
    max-height: 100vh; /* Altura máxima do Banner é 100% da altura da janela */
    /* Novo gradiente do transparente até o laranja */
    background-image: linear-gradient(to bottom, transparent 60%, #FF2B00 60%, #FF8800 100%);
}

/* Estilo para o elemento com o id 'garoto1' */
#garoto1 {
    display: flex;
    position: initial; /* O elemento irá seguir o fluxo normal do layout */
    margin-top: -27.5%; /* Adiciona espaço acima do elemento */
    margin-left: 12%; /* Adiciona espaço à direita do elemento */
    bottom: 0%; /* A posição inferior do elemento */
}

/* Estilo para o elemento com o id 'como' */
#como {
    position: initial; /* O elemento seguirá o fluxo normal do layout */
    margin-top: -65vh; /* Adiciona espaço acima do elemento */
    margin-bottom: 5vh; /* Adiciona espaço abaixo do elemento */
    margin-left: 30vw; /* Adiciona espaço à direita do elemento */
}

/* Estilo para o texto com a classe 'text1' */
.text1 {
    font-size: large; /* Define o tamanho da fonte como grande */
    margin: auto; /* Centraliza o elemento */
    width: 90%; /* Largura do texto ocupa 90% da largura disponível */
    text-align: center; /* Centraliza o texto */
    font-size: x-large; /* Define o tamanho da fonte como muito grande */
    /* Cria um efeito de sombra no texto */
    text-shadow:
    -6px 3px 90px #f2994a,
    1px -1px 90px #f2994a,
    -1px 1px 90px #f2994a,
    1px 1px 50px #f2994a;
    margin-top: 5%; /* Adiciona espaço acima do texto */
}

/* Estilo para a seção de Recompensa */
.Recompensa {
    display: flex; /* Usar flexbox para organizar os itens dentro da seção */
    margin-left: 10%; /* Espaço à esquerda */
    margin-right: 5%; /* Espaço à direita */
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    margin-block-end: 10%; /* Espaço na parte inferior */
}

/* Estilo para o elemento com o id 'menina' */
#menina {
    height: 70vh; /* Altura do elemento é 70% da altura da janela */
    margin-bottom: -30px; /* Espaço negativo abaixo do elemento */
    border-radius: 30px; /* Bordas arredondadas */
    display: flex; /* Usar flexbox para organizar os itens dentro do elemento */
    margin-right: 0.1vw; /* Espaço à direita do elemento */
}

/* Estilo para o texto dentro da classe 'text2' */
.text2 {
    width: 40vw; /* Largura do texto é 25% da largura da tela */
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: flex-start; /* Alinha os itens à esquerda */
    text-align: left; /* Alinha o texto à esquerda */
    margin-top: 10%; /* Espaço acima do texto */
}

/* Estilo para o texto com a classe 'texto' */
.texto {
    display: flex; /* Usar flexbox para alinhar a imagem do check e o texto */
    align-items: center; /* Alinha a imagem e o texto verticalmente */
    margin: 5px 0; /* Espaço entre os parágrafos */
    width: 50vw; /* Largura do texto é 50% da largura da tela */
    font-size: 0.875rem; /* Tamanho da fonte */
}

/* Estilo para o elemento com a classe 'Check' */
.Check {
    background-color: transparent; /* Fundo transparente para o elemento */
}
