.performance-indicator {
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.header-content h3 {
  margin: 0 20px;
  font-size: 24px;
}

.left-image, .right-image {
  width: 40px;
  height: 40px;
}

.performance-indicator p {
  font-size: 16px;
}

.responsible-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px;
}

.dashboard h3, .dashboard p {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
}

/* Estilo geral dos cards */
.indicator-card, .vertical-card {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  transition: transform 0.5s ease;
}

.indicator-card:hover, .vertical-card:hover {
  transform: translateY(-3.5px);
}

/* Estilos específicos para cada posição de card */
.card-1, .card-2, .card-3 {
  grid-column: span 1;
}

.card-1 {
  background-color: #0BF4C8;
}

.card-2 {
  background-color: #FAD85D;
}

.card-3 {
  background-color: #F2A0FF;
}

.card-4 {
  grid-column: span 2;
}

.card-5 {
  grid-column: span 1;
}

.card-6 {
  grid-column: span 3;
}

/* Card vertical na direita */
.vertical-card {
  grid-column: 4 / 5;
  grid-row: 1 / 4;
}
