.navbar{
    position: fixed;
    margin-bottom: 10vh;
    top: 0%;
    width: 100%;
    z-index: 10;
    
}


.container-fluid{
    height: 8vh;
}

.center{
    width:72vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.Usuario{
    display: inline-flex;
    float:inline-end;
    margin-left: 30px;

}
#night{
    border: none;
    margin-left: -90px;
    background-color: inherit;
}
#sol{
    background-color: inherit;
    transition: all 0.9s ease-in-out;
}

#lua{
    background-color: inherit;
    transition: all 0.9s ease-in-out;
}

.nav-link{
    transition: transform 1s ease;
}

.nav-link:hover{
    color:#8044BC;
    transform:scale(1.2);
    transition: transform 1s ease;
}

.Login{
    width:100px ;
    background-color: #8044BC;
    border-radius: 16px;
    margin-left: 10px;
    color: white;
    border: #8044BC;
    transition: transform 1s ease;
}
.Login:hover{
    transform: scale(1.2);
    transition: transform 1s ease;
}