/* Define a largura e altura do calendário */
.fc {
    background-color: #236DB1;
    color: white; 
    border-radius: 15px;
    overflow: hidden; 
    width: 100%;  /* Defina a largura fixa */
    height: 100%; /* Defina a altura fixa */
}

/* Estilos do cabeçalho do calendário */
.fc-toolbar {
    background-color: #236DB1; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto */
    font-size: 0.9em; /* Reduz o tamanho da fonte do cabeçalho */
}

/* Estilos para os dias do calendário */
.fc-daygrid-day {
    color: white; /* Cor do texto dos dias */
}

/* Adiciona uma borda para os dias quando são selecionados */
.fc-daygrid-day.fc-day-selected {
    background-color: rgba(255, 255, 255, 0.2); /* Leve destaque ao selecionar */
}

/* Estilos para os eventos */
.fc-event {
    color: white; /* Cor do texto dos eventos */
    border: none; /* Remove a borda dos eventos */
}

/* Estilo para o texto do título do evento */
.fc-event-title {
    color: white; /* Cor do texto do título do evento */
}

/* Estilos para os dias da semana */
.fc-daygrid-week-day {
    color: white; /* Cor dos dias da semana */
}
