.TituloChat{
    min-height: 20vh;
    max-height: 40vh;
    min-height: 10vh;
    max-height: 20vh;
    min-width: none;
    max-width: max-content;
    margin: auto;
    margin-top: 10vh;
    position: relative;
    text-shadow:
    -6px 3px 40px #f2994a,
    1px -1px 40px #f2994a,
   -1px  1px 40px #f2994a,
    1px  1px 90px #f2994a;   
}

#titleP{
    font-size: xx-large;
}

#titleP2{
    font-size: larger;
}